<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Capture the relevant info for your NON-Emergency !</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div  class="flex-column justify-space-around">
    <header id="topBar" class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="money">💸</span>
        <a href="/">Accident Jot!</a>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a id="login" href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>

    <section id="headerSection">
      <header id="warning" style='color:red;'>🛑 If you have an emergency. STOP and call 911. 🛑
      </header>
      <header id="instructionHeader">
      <p id="instructions">
        Use this application to make sure you get all of the relevant information for reporting your vehicular accident. Your notes will
        be saved and can be retrieved later to aid you in reporting this matter to any agency.
      </p>
  </header>
    </section>
    <section id="body">
      <p id="bodyText">Accident Jot</p>
    </section>

    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>